{% extends 'layout.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}


<div class="container mt-4">
  <h2 class="text-success">Libros con valoración mayor a 1500</h2>
  <ul class="list-group">
    {% for book in high_rated_books %}
    <li class="list-group-item">
      Título: {{ book.title }}, Autor: {{ book.author }}, Valoración: {{
      book.rating }}
    </li>
    {% endfor %}
  </ul>

  <h2 class="text-info mt-4">Listado de todos los libros:</h2>
  <ul class="list-group">
    {% for book in books %}
    <li class="list-group-item">
      Título: {{ book.title }}, Autor: {{ book.author }}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}